.b11{
    position: absolute;
    font-size: 30px;
    margin-left: -1400;
    margin-top: -50;
}
.b2{
    position: absolute;
    font-size: 30px;
    margin-left: -1280;
    margin-top: -50;
}
.b3{
    position: absolute;
    font-size: 30px;
    margin-left:-1150;
    margin-top: -50;
}
.b4{
    position: absolute;
    font-size: 30px;
    margin-left: -1000;
    margin-top: -50;
}
.b5{
    position: absolute;
    font-size: 30px;
    margin-left:-800;
    margin-top: -50;
}
.b6{
    position: absolute;
    font-size: 30px;
    margin-left:-700;
    margin-top: -50;
}