body{
    margin: 0;
    background-color: rgb(226, 222, 216);
}

.container{
    position: absolute;
    margin-top: 200;
    margin-left: 200;
    width: 800;
    height: 300;
    border-style: solid;
    border-color: black;
    background-color:darkgray;
}

.div{
font-size: 50;
color: teal;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.span{
font-size: 30;
color: rgb(36, 70, 66);
}

.b1{
    position: absolute;
    font-size: 30px;
    margin-left: 20;
    margin-top: 20;
}
.b2{
    position: absolute;
    font-size: 30px;
    margin-left: 150;
    margin-top: 20;
}
.b3{
    position: absolute;
    font-size: 30px;
    margin-left:300;
    margin-top: 20;
}
.b4{
    position: absolute;
    font-size: 30px;
    margin-left: 450;
    margin-top: 20;
}
.b5{
    position: absolute;
    font-size: 30px;
    margin-left:650;
    margin-top: 20;
}
.b6{
    position: absolute;
    font-size: 30px;
    margin-left:750;
    margin-top: 20;
}